# Assessment
For Mini project requires us to implement a K-nearest neighbor (kNN) classifier  and a Naive Bayes classifier. Once we conduct the experiments, we will calculate the resulting metrics:

# Experimental Procedure:

1. Download the two datasets from the given links:
Dataset 1 Source: [Train Dataset Source: Link (Links to an external site.), Test Dataset Source: Link (Links to an external site.)]
Dataset 2 Source: [Link (Links to an external site.)]
2. Randomly partition each dataset into two parts i.e 80 - 20  sets.
3. For dataset 1, because we don't have the label for the test set, we will use the train set to create train and test data (i.e. splitting further), then perform K-nearest neighbor classification.
4. For dataset 2, perform classification of the testing set samples using the Naive Bayes Classifier.
5. Compute the accuracy (percentage of correct classification).
6. Report the confusion matrix of each classifier.
7. Repeat step 2 to step 4 twice, each time splitting the datasets differently i.e. 70-30, 60-40, then note the outcomes of your modeling.
8. Suggest and apply at least one of the optimization techniques that you learned earlier this week.
9. Provide further recommendations to improve both classifiers.

# Data Preparation

Importing libraries

In [219]:
import pandas as pd
import numpy as np

# from pydataset import data
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [220]:
train = pd.read_csv('C:/Users/Eric/Desktop/K-Nearest Neighbour and Naives Bayes Classifier Mini Project/K-Nearest Neighbour and Naives Bayes Classifier Mini Project/train (5).csv')

In [221]:
# preview train dataset
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [222]:
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [223]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [224]:
train.drop('Cabin', 1, inplace= True)

C:\Users\Eric\AppData\Local\Temp/ipykernel_11848/676536081.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  train.drop('Cabin', 1, inplace= True)

In [225]:
a = ( 177 /len (train))*100
a

19.865319865319865

The percentage of missing values is 19.86%. Therefore, it would be advisable to drop the records with null values

In [226]:
train. dropna(inplace=True)

We should make the columns consistent by making it lowercase.

In [227]:
# Consistency
train.columns = train.columns.str.lower()

In [228]:
train.isna().sum()

passengerid    0
survived       0
pclass         0
name           0
sex            0
age            0
sibsp          0
parch          0
ticket         0
fare           0
embarked       0
dtype: int64

The trainset has no missing value

In [ ]:
# Check outliers on numerical columns.
# we save the column names onto a dictionary
boxplot_ls = {'age': 1, 'sibsp': 2, 'parch': 3, 'fare': 4}

plt.figure(figsize=(12,12))

# we make a boxplot for each numerical column
for a,i in boxplot_ls.items():
    plt.subplot(2,2,i)
    sns.boxplot(train[a], palette='magma')
    plt.title(a)

Check for duplicates

In [ ]:
# Lets check for duplicates in the dataframe
train.duplicated().sum()

The dataset contains no duplicated data.

# Feature Engineering

In [ ]:
# Droping irrelevant column
print (train.columns)

# List of columns to drop
dropcol = ['passengerid', 'name', 'ticket', 'fare']

# Dropping the columns
train.drop(dropcol, 1, inplace=True)
print('Columns dropped successfully')

In [ ]:
train.dtypes

Looking at the data we see that the passengerid, name, ticket, and maybe fare and embarked are not that useful in predicting the survival rate. Therefore we should drop the columns that are not useful.

In [ ]:
train.sample(3)

# Exploratory Data Analysis

In [ ]:
import pandas_profiling
from pandas_profiling import ProfileReport
profile = ProfileReport(train, title="Titanic", html={'style':{'full_width':True}})
profile.to_notebook_iframe()

In [ ]:
sns.pairplot(train)

From the pairplot it is clear to see that there is very little correlation between the numerical columns.

However, the age column is Gaussian or normally distributed
The sibs and parch columns are positively skewed.

In [ ]:
#Converting the categorical features into numerical
cat = ['sex', 'embarked']

# create dymmy variables
df1 = pd.get_dummies(train[cat])

In [ ]:
#Combining the dummies we have created with the original dataset
train = pd.concat([train,df1], axis="columns")

In [ ]:
#Checking for the changes
train.head()

In [ ]:
#Dropping the encoded columns to avoid duplications
train.drop(["sex", "embarked"], axis=1, inplace=True)

In [ ]:
#Checking for the changes
train.head()

In [ ]:
#Performing feature scaling on the numerical variables:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Feature_Sc = ['age', 'sibsp', 'parch']
train[Feature_Sc] = sc. fit_transform(train[Feature_Sc])
train.head()

In [ ]:
#Creating a target and feature set
X = train.drop(["survived"], axis = 1)
y = train['survived']

# Using 80:20 ratio

In [ ]:
#Splitting into train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#Fitting KNN into our train sets
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

In [ ]:
#Making prediction using k=1
y_pred_neutral = classifier.predict(X_test)
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred_neutral))
print(classification_report(y_test, y_pred_neutral))

We have quite low precision and recall values survival. We also have a satisfactory accuracy of 78% but we are going to do hyperparameter tuning to find the best k, distance metrics and the other KNN parameters.

With k set to be equal to 20 we get a higher accurracy than when set to 5.

In [ ]:
#Using Grid search Cv to find the best parameters of the KNN
from sklearn.model_selection import GridSearchCV
estimator_KNN = KNeighborsClassifier(algorithm='auto')
parameters_KNN = {
    'n_neighbors': (1,20, 1),
    'leaf_size': (20,40,1),
    'p': (1,2),
    'weights': ('uniform', 'distance'),
    'metric': ('minkowski', 'chebyshev')}

# with GridSearch
grid_search_KNN = GridSearchCV(
    estimator=estimator_KNN,
    param_grid=parameters_KNN,
    scoring = 'accuracy',
    n_jobs = -1,
    cv = 5
)

In [ ]:
#Making prediction with the best parameters
KNN_1=grid_search_KNN.fit(X_train, y_train)
y_pred_KNN =KNN_1.predict(X_test)

In [ ]:
#Parameter setting that gave the best results on the hold out data.
print(grid_search_KNN.best_params_ )

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred_KNN))
print(classification_report(y_test, y_pred_KNN))

With k set to be equal to 20 we get a higher accurracy than when set to 5.